/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
.board {
	height:50%;
	width: 50%;
	display: inline-block;
	margin: 8%;
	float: left;
}
.card {
	height:200px;
	width:150px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius:10px;
	background: yellow;
	display: inline-block;
	margin: 10%;
}

.card img {
	height: 200px;
	width:150px;
}

h1 {
	color: rgb(2,132,130);
}
h2 {
	color: #ffd700;
}
.name {
	color: #ff0000;
}
nav {
	background: #808080;
}
nav a {
	text-decoration: none;
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}
nav a:hover {
	background: #ee5f3c;
	color: red;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
footer {
	background: #808080;
	clear: both;
}
footer, header, p {
	text-align: center;
}